@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('../fonts/open-sans-v27-latin_cyrillic-regular.woff2') format('woff2'), 
  url('../fonts/open-sans-v27-latin_cyrillic-regular.woff') format('woff'); 
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(''),
  url('../fonts/open-sans-v27-latin_cyrillic-700.woff2') format('woff2'), 
  url('../fonts/open-sans-v27-latin_cyrillic-700.woff') format('woff'); 
}

* {
  box-sizing: border-box;
}

img{
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

body{
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Arial", sans-serif;
}

.container{
  width: 1140px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.site-header{
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.header-elements{
  display: flex;
  align-items: center;
  
}

.site-logo-link{
  /* padding: 18px 0; */
  margin-right: auto;
}

.site-logo-img{
  width: 58px;
  height: 20px;  
}

.site-logo-img:hover{
  opacity: 0.8;
}

.site-logo-img:active{
  opacity: 0.4;
}


.navbar-list{
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}


.navbar-item-link{
  padding: 16px;
  text-decoration: none;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
  border-bottom: 3px solid transparent;
}

.navbar-item-link:hover{
  border-color: #191919;
}

.navbar-item-link:active{
  /* background-color: rgba(25, 25, 25, 0.7); */
  color: #FFFFFF;;
  background-color: #191919;
  opacity: 0.7;
}

.site-links{
  display: block;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  background: #00BAFC;
  border-radius: 5px;
  border: 3px solid transparent;
  text-align: center;
  /* margin: 0 auto; */
}

.active-service-link{
  display: inline-block;
  width: 167px;
  margin-right: 16px;
}

.active-center{
  width: 167px;
  margin: 0 auto;
}


.site-links:hover{
  color: #00BAFC;
  background: #FFFFFF;
  border-color:  #00BAFC;
}

.site-links:active{
  background-color: #00BAFC99;
  opacity: 0.6;
  color: #FFFFFF;
  border-color: transparent;
}


.introduction-section{
  padding: 80px 0;
}

.introduction-elements{
  display: flex;
}

.introduction-description{
  width: 470px;
  margin-right: 172px;
}

.descrtiption-title{
  margin: 16px 0;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  
}

.description-text{
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  margin: 16px 0;
}


.description-link{
  display: block;
  width: 232px;
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  font-size: 15px;
  line-height: 24px;
  color: #FFFFFF;
  background: #00BAFC;
  border-radius: 5px;
}
.description-link:hover{
  opacity: 0.8;
}

.description-link:active{
  opacity: 0.6;
}

iframe{
  border: none;
  border-radius: 5px;
}

.service-section{
  padding: 56px 0;
}

.service-title{
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

.service-description{
  width: 719px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
}

.service-text{
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #000;
  margin: 0;
}

.service-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-top: 8px;
  list-style: none ;
  margin: 0;
}

.service-list-item{
  width: 320px;
  padding: 24px 58.6px;
  background: #FFFFFF;
  margin-bottom: 48px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.service-list-item:hover{
  box-shadow: 0px 12px 21px rgba(0, 0, 0, 0.1);
}

.service-list-item:active{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}

.service-list-item:nth-child(2){
  margin: 0 70px 48px;
}

.service-list-item:nth-child(4){
  margin-right: 70px;
}

.service-item-link{
  text-decoration: none;
}


.service-item-title{
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #000000;
}

.service-item-text{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.service-links{
  text-align: center;
}

.service-sublink{
  font-size: 16px;
  line-height: 24px;
  color: #00BAFC;
}

.how-we-work-section{
  padding: 56px 0;
  margin: 0 auto;
}

.work-title{
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

.work-description{
  width: 719px;
  margin-right: auto;
  margin-left: auto;
}

.work-text{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
}

.how-we-work-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.how-we-work-list-item{
  display: flex;
  width: 832px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;
}

.how-we-work-list-item:nth-child(2n){
  flex-direction: row-reverse;
}


.step-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin-left: 32px;
}

.step-title{
  margin: 0;
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 26px;
}

.step-text{
  margin: 0;
  font-size: 16px;
  line-height: 24px;
}

.order-section{
  background-color: #00BAFC;
  padding: 56px 0 64px;
}

.order-title{
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #FFFFFF;
}

.order-info{
  width: 719px;
  margin-right: auto;
  margin-left: auto;
}

.order-text{
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 24px;
}

.form-box{
  width: 348px;
  margin: 0 auto;
  background: #FFFFFF;
  border-radius: 5px;
}

.order-form{
  padding: 24px;
}

.form-style{
  width: 100%;
  padding: 16px;
  background-color: #F3F3F3;
  margin-bottom: 16px;
  border-radius: 5px;;
  border: none;
}
.form-style::placeholder{
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}
.form-select{
  width: 100%;
  padding: 16px;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  background-color: #F3F3F3;
  margin-bottom: 16px;
  border-radius: 5px;;
  border: none;
  appearance: none;
  background-image: url(../images/Polygon.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: right 20px center;
  
}



.site-footer{
  background-color: #191919;;
  padding: 56px 0;
}

.footer-page{
  display: flex;
}

.footer-copyright-box{
  width: 320px;
}

.footer-item-title{
  display: block;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 16px;
}

.copyright-text{
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  margin: 0;
}

.footer-site-pages{
  margin-right: 87px;
  margin-left: 100px;
  width: 143px;
}


.footer-site-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-site-item{
  margin-bottom: 8px;
}


.footer-site-list-link{
  text-decoration: none;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer-site-list-link:hover{
  color: #00BAFC;
}

.footer-site-list-link:active{
  opacity: 0.6;
}

.footer-socials{
  width: 142px;
}

.socials-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.socials-list-item{
  text-decoration: none;
}






